html, body{
    margin: 0;
    font-family: 'Roboto Condensed', sans-serif;
}
/** INICIALCABEÇALHO**/
header{
    background-color: black;
    color: white;
    height:60px;
    width:100%;
    position: fixed;
    z-index: 10;
}

#Menu{
    float: right;
    margin-right: 3%;
    list-style: none;
    margin-top: 0px;
}

li{
    float: left;
    padding: 20px 10px 20px 10px;
}

a{
    text-decoration: none;
    color: white;
}

li:hover{
    background-color:#dccbb5;
}
#Logo{
    width: 200px;
    position: absolute;
    top: 10px;
    margin-left: 2%;
}


#imagem_fundo{
    background: url(img/fundo.jpeg);
    background-size: cover;
    height: 950px;
    text-align: center;
    padding: 30px;
}

#titulo{
    color: white;
    padding-top: 10%;
    font-size: 50px;
    line-height: 0.6;   

}

#subtitulo{
    color: white;
    margin-left: 20%;
    margin-right: 20%;
    padding-bottom: 40px;
    border-top: 3px white solid;
}

#acao{
    color: white;
    border: 2px white solid;
    border-radius: 10px;
    padding: 10px 20px 10px 20px;
    font-size: 20px;
    text-decoration: none;
}

#acao:hover{
    background-color: #dccbb5;
}
/**FINAL CABEÇALHO**/
.fonte{
    font-family: 'Playfair Display SC', serif;

}
.fonte2{
    font-family: 'Karla', sans-serif;}
.icone {
    width: 51px;
}

section {
    padding: 20px;
    float: left;
}
.destaque {
    background-color: #f7f7f7;
}
.imgeco {
    width: 90%;
}
img:hover {
    transform: scale(1.022);
  
}

Img{
    transition: 500ms
    }
.coluna{
    float: left;
    padding: 0 5%;
    position: relative; 
    text-align: center;
    width: 40%;

}

.coluna3{
    float: left;
    padding: 0 2%;
    position: relative; 
    text-align: center;
    width: 29%;

}

.coluna5{
    float: left;
    padding: 0 5%;
    position: relative; 
    text-align: center;
    width: 10%;
}


.justificado{
    text-align: justify;

}
.centralizado{
    text-align: center;
}
footer{
    background-color:#dccbb5;
    float: left;
    width: 100%;
}
h5{
    font-size: 20px;
    letter-spacing: 1px;
}

.top{
    padding-top: 50px;
}

@media all and (max-width: 768px){
    #Menu{
        visibility: hidden;
    }

    .coluna, .coluna3, .coluna5{
        display: block;
        width: 80%;
        padding: 0;
        margin: 10px auto;
        float: none;
        text-align: center;
    }

    #logodiv{
        position: relative;
        width: 100%;
        margin-left: 0px;
        text-align: center;
    }

    #Logo{
        transform: translateX(-50%);
        margin: 0;
    }

    #imagem_fundo{
        background-position: center;
        background-repeat: no-repeat;
    }

}
