


html, body{
    margin: 0;
}

#imagem_fundo{
    background: url(img/fundo.jpg);
    background-size: 1950px;
    height: 880px;
    text-align: center;
    padding: 30px;
}

#titulo{
    color: white;
    padding-top: 10%;
    font-size: 50px;
    line-height: 0.6;    
}

#subtitulo{
    color: white;
    margin-left: 20%;
    margin-right: 20%;
    padding-bottom: 40px;
}

#acao{
    color: white;
    border: 2px white solid;
    padding: 10px 20px 10px 20px;
    font-size: 20px;
    text-decoration: none;
}

.fonte{
    font-family: 'Roboto Condensed', sans-serif;
}