html, body{
    margin: 0;
    font-family: 'Roboto Condensed', sans-serif;
}

header{
    background-color: black;
    color: white;
    height:60px;
    width:100%;
    position: fixed;
    z-index: 10;
}

#Menu{
    float: right;
    margin-right: 3%;
    list-style: none;
    margin-top: 0px;
}

li{
    float: left;
    padding: 20px 10px 20px 10px;
}

li:hover{
    background-color:white;
}
#Logo{
    width: 200px;
    position: absolute;
    top: 10px;
    margin-left: 3%;
}


#imagem_fundo{
    background: url(img/fundo.jpeg);
    background-size: cover;
    height: 950px;
    text-align: center;
    padding: 30px;
}

#titulo{
    color: white;
    padding-top: 10%;
    font-size: 50px;
    line-height: 0.6;   

}

#subtitulo{
    color: white;
    margin-left: 20%;
    margin-right: 20%;
    padding-bottom: 40px;
    border-top: 3px white solid;
}

#acao{
    color: white;
    border: 2px white solid;
    border-radius: 10px;
    padding: 10px 20px 10px 20px;
    font-size: 20px;
    text-decoration: none;
}

.icone {
    width: 51px;
}
section {
    padding: 20px;
    float: left;
}
.destaque {
    background-color: #f7f7f7;
}
.imgeco {
    width: 90%;
}
.coluna{
    float: left;
    padding: 0 5%;
    position: relative; 
    text-align: center;
    width: 40%;

}

.coluna3{
    float: left;
    padding: 0 2%;
    position: relative; 
    text-align: center;
    width: 29%;

}

.coluna5{
    float: left;
    padding: 0 5%;
    position: relative; 
    text-align: center;
    width: 10%;
}


.justificado{
    text-align: justify;

}
.centralizado{
    text-align: center;
}
footer{
    background-color:#dccbb5;
    float: left;
    width: 100%;
}


